.bubble.span6
  %h2
    Heading

  %p
    Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site.
  .left_speech

.bubble.span6
  %h2
    Heading 2

  %p
    Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site. Here's where I explain what's going on with this site.
  .right_speech