.row-fluid
  .span12
    .bubble.closable
      .pull-right.minus-top-margin
        %a.close
          &times;
      %h2
        Choose Your Next Adventure!
      %p
        There are no upcoming conferences on your schedule. Why not
        = link_to 'search for a conference', 'http://lanyrd.com/topics/', :target => '_new'
        and add it to your list?
      .left_speech

