.row-fluid
  .span12
    .bubble.closable
      .pull-right.minus-top-margin
        %a.close
          &times;
      %h2
        What Are You Waiting For?
      %p
        You have at least one conference on your schedule. Why not
        = link_to 'submit on of your talks'
        ?
      .left_speech

