= form_for(@search, :url => '/conferences/search', :html => {:class => 'form form-inline'} ) do |f|
  = f.text_field :keyword, :placeholder => 'Enter your search term'
  = f.submit "Search", :class => 'btn btn-primary'
