.row-fluid
  .span12
    .bubble
      %h2.inner_shadow
        Choose Your Next Adventure!
      %p
        There are no conferences on your schedule. Why not
        = link_to 'look for an upcoming conference', 'http://lanyrd.com/topics/', :target => '_new'
        and add it to your list?
      .left_speech

