.row-fluid
  .span12
    .bubble
      %h2.inner_shadow
        Let's Get Started!
      %p
        Looks like you're new here, so let me give you a quick overview:
      .indented
        %i{:class => icon_for(current_user, :bios)}
        Create a bio describing how awesome you are.
      .indented
        %i{:class => icon_for(current_user, :talks)}
        Write the abstract for a talk on a topic that you are passionate about.
      .indented
        %i{:class => icon_for(current_user, :conferences)}
        Add a conference and select the talk that you plan on submitting.
      .indented
        %i{:class => icon_for(current_user, :accepted_proposals)}
        When your amazing proposal is accepted, come back here and check it off!
      %p
        There's a lot more that you'll be able to do later, but let's start simple.

      .left_speech

