.row-fluid
  .span12
    .bubble
      %h2.inner_shadow
        What Are You Waiting For?
      %p
        You have at least one conference on your schedule. Why not
        = link_to 'submit on of your talks'
        ?
      .left_speech

