.span6
  Stuff here.

.bubble.span6
  %h2.inner_shadow
    Let's Get Started!
  %p
    Looks like you're new here, so let me give you a quick overview:
  %ul
    %li Start by creating a bio, describing how awesome you are.
    %li Next, add a talk on any topic that you are passionate about.
    %li Finally, add a conference and select the talk that you plan on submitting.
    %li When your amazing proposal is accepted, come back here and check it off!
  %p
    There's a lot more that you'll be able to do later, but let's start simple.

  .right_speech
