@import url('http://fonts.googleapis.com/css?family=Ruslan%20Display:400,900');

body {
  font-family: "Arial";
  font-size: 12px;
  color: #eee;
  line-height: 2em;
}

h1 {
  font-family: 'Ruslan Display', cursive;
  text-transform: uppercase;
  color: #eee;
  font-size: 36px;
}

h2 {
  font-family: 'Ruslan Display', cursive;
  text-transform: uppercase;
  color: #666666;
  font-size: 60px;
  margin-top: -0.1em;
  margin-left: -0.1em;
}

.bubble {
  color: #555555;
}